.container-barLaterals {
    width: 40%;
    position: sticky;
    top: 10rem; 
    height: 100vh;
    overflow-y: auto;
    transition: top 0.3s ease;
}
.circle-img  {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    width: 4.5rem; 
    height: 4.5rem; 
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
#img-user {
    width: 5rem; 
    height: 5rem; 
    border-radius: 50%;
    object-fit: cover; 
}
.containers{
    height: auto;
}
.account-components{
    position: relative;
    height: auto;
    padding-top: 8rem;
}
.account-components-post{
    position: relative;
}
.hide{
    display: none;
}

.add-Post{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
}
.edit-account{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
}
