*  { 
    margin: 0;
}
.containers {
    display: flex;
    position: relative;
    height: 100%;  
    overflow: hidden;
}
.circle-img  {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    width: 15rem; 
    height: 15rem; 
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}



.container-postcards {
    width: 60%;
    margin-left: 12rem;
    align-items: center;
    height: 100%; 
    overflow-y: scroll; 
    padding-top: 3rem;
}

.container-postcards::-webkit-scrollbar {
    display: none; 
}

.container-barLaterals {
    width: 40%;
    position: sticky;
    top: 3rem; 
    height: 100vh; 
    overflow-y: auto; 
    transition: top 0.3s ease;
}
#img-user {
    width: 15rem; 
    height: 15rem;
    border-radius: 50%;
    object-fit: cover; 
}
.info-contact-user  {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 7%;
}

#follows  {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}
#followers  {
    width: 50%;
}
#followeing  {
    width: 50%;
}
.pFOlS  {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num  {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
}
#name-user  {
    margin-top: 0;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 0;
}
#username  {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin-top: -0.4rem;
}
#create  {
    display: flex;
    margin-top: 7%;
    gap: 2rem;
}
#creative  {
    font-family: "Istok Web", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    background-color: #DD4632;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border-radius: 50px;
}
#category  {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contct  {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    margin-top: 1rem;
}
#email  {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}
.account-components{
    position: relative;
    height: auto;
    padding-top: 8rem;
}
.icons-profesional  {
    display: flex;
    gap: 3rem;
    margin-top: 5%;
}
#Works  {
    margin-top: 5%;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
#url  {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
#post-config  {
    display: flex;
    gap: 1rem;
    margin-left: 65%;
    align-items: center;
}
#post-config svg {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logOut  {
    cursor: pointer;
}
.filter   {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.filter p  {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.filter p b  {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.filter p:hover  {
        border-bottom: 2px solid rgb(255, 255, 255);
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
   }


.account-components-post{
    position: relative;
}
.hide{
    display: none;
}
.container-account  {
    width: 100%;
}

.add-Post{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
}
.edit-account{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
}
hr  {
    margin-top: 0;
    width: 80%;
    display: flex;
    justify-content: center;

}