*  {
    color: white;
}
.icons  {
    display: flex;
    gap: 0.5rem;
    margin-top: 2%;
}
.icons p { 
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    display: flex;
    align-items: center;
}