.card   {
    background-color: #8258BD;
    width: 40%;
    padding: 1.8rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}
.name  {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.nacate  {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-right: 1rem;
}
.category  {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin-top: 0;
}

.circle-img  {
    justify-content: center;
    align-items: center;
    display: flex;
}
#img-user {
    width: 4.5rem; 
    height: 4.5rem; 
    border-radius: 50%;
    object-fit: cover; 
}
.username  {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 1rem;
    cursor: pointer;
}
.part-user  {
    display: flex;
    gap: 1rem;
}

.state  {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    cursor: pointer;
}
.time-post { 
    font-family: "Hind Guntur", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 14px;
    margin-top: 1rem;
}
.img-post  {
    border-radius: 0.5rem;
}
.description  {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 15px;
}
.hashtags  {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 15px;
}
.post-icons  {
    margin-top: 1rem;
    gap: 3.5rem;
    display: flex;
}
.post-icons svg   {
    color: #CAC1E4;
    cursor: pointer;
}
.counter  {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.counter p  {
    color: #CAC1E4;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
