input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  button {
    background-color: #6c5ce7; /* Color del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }