*   {
    font-family: "Poppins", sans-serif;
}
input {
    flex-grow: 1;
    border: none;
    padding-bottom: 0.5rem;
    background-color:#6B43A0; 
    border-bottom: 0.02rem solid white;
    color: #FFF;
    width: 20rem;
  }
  input::placeholder  {
    color: white;
  }
  .button button {
    background-color: #361656; 
    color: white;
    border: none;
    padding: 0rem;
    border-radius: 2rem;
    cursor: pointer;
    height: 1.5rem;
    width: 5rem;
    display: flex;
    gap: 1rem; 
    margin-top: -1.5rem;
    margin-left:22rem;
    align-items: center;
    justify-content: center;
    display:flex ;
  }
  
  
  .user-icon  {
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 20rem;
    margin-top:4rem ;
}

.circle  {
    background-color: white;
    border-radius: 50%;
    object-fit: cover; 
    width: 70em;
    height: 6rem;
    justify-content: center;
    margin-left: 70%;
    
}
.user-icon svg  {
    color: #361656;
    margin-top: 0.99rem;
    margin-left: 0.99rem;
}
.post hr {
    background-color: #FFF;
    width: 94.5rem;
    margin-top: 4%;
    margin-left:-43rem ;
    align-items: center;
    
}


.icon2{
    color: #FFF;
    width: 50rem;

}
.icon{
    color: #FFF;
    display: flex;
    gap: 1rem;
   margin-top: 1rem;
}

h2  {
    color: white;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}
.post  {
    display: flex;
    width: 100%;
}
.part2{
    margin-left: -51rem;
    margin-top: 3rem;

}
.post
{
    margin-left: 4rem;
}
@media (min-width: 768px) {
   

    
}
/* @media (max-width: 768px)  {

    .bars  {
         display: block;
         cursor: pointer;
         margin-top: 1.3rem;
         margin-left: 5%;
    }
    .bars .line  {
     width: 35px;
     height: 0.3rem;
     border-radius: 1rem;
     background-color: white;
     margin: 6px 0px;
    
    }
    .first-icons, .third-icons  {
     display: none;
    }
    .active-icons  {
     display: block;
    
    }
    #jobs svg {
     margin-left: -1rem;
    }
    .active-icons li  {
     padding: 0.2rem;
     width: 8rem;
     margin-top: 0.3rem;
     margin-bottom: 0;
    }
    .active-icons ul  {
     padding: 0.4rem;
    
    }
   
    .icons-responsive.inactive {
     display: none;
    }
    .icons-responsive.active {
     
     position: absolute;
     display: flex;   
     justify-content: center;
     align-items: center;
     width: 100%;
     position: fixed;
     margin-top: 5rem;
     background-color: #6624849a;
    }
   
    .search-bar input {
     width: 12rem;
     padding: 0 4rem ;
    }
    .search-bar svg  {
     margin-left: 2rem;
 }
 .circle  {
     width: 50px;
     height: 50px;
     justify-content: center;
     margin-left: 40%;
 }
 .user-icon svg  {
     margin-top: 0;
     margin-left: 0.30rem;
     width: 40px;
 }
 
 
  */