.circle-img  {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%;
    object-fit: cover;
}
#img-user {
    width: 3rem; 
    height: 3rem; 
    border-radius: 50%;
    object-fit: cover; 
}

#initial {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #652484;
}
.user  {
    display: flex;
}
.add-comment  {
    display: flex;
    width: 16rem;
    height: 2rem;
    background-color: #9A81C2;
    border-radius: 50px;
}
#comment-input  {
    border: none;
    outline: none;
    background: none;
    width: 80%;
    height: 2rem;
}
input::placeholder  {
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}
.save-comment  {
    display: flex;
    justify-content: center;
    align-items: center;
}
input  {
    color: white;
    padding-left: 10px;
}
#username  {
    font-family: "Hind Guntur", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 17px;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
}
#description  {
    color: #F5F5F5;
    font-family: "Hind Guntur", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
}
#timeadd  {
    font-family: "Hind Guntur", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #CAC1E4;
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 7rem;
}
hr  {
    width: 40%;
    margin: 0;
    margin-bottom: 0.8rem;
}
.two  {
    display: block;
    flex-direction: column;
}
.hide{
    display: none;
}
.show{
    display: block;
}
@media (max-width: 768px)  {  
    .circle-img  {
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #F5F5F5;
        width: 2rem; 
        height: 2rem; 
        border-radius: 50%;
        object-fit: cover;
    }

    #initial {
        font-size: 20px;  }
    #username  {
        font-size: 14px;
        margin-top: -0.2rem;
    }
    #description  {
        font-size: 14px;
    }
    #timeadd  {
        margin-top: 0;
        font-size: 10px;
        margin-left: 4rem;
    }
    hr  {
        width: 55%;
    }
    .add-comment  {
        width: 12rem;
    }
    input::placeholder   {
        font-size: 13px;
    }
}