*  {
    color: white;
    font-family: "Poppins", serif;;
}
.container-modal{
    margin: 140px;
    padding: 2rem;
    height: 30rem;
    width: 30rem;
    background-color: #8258BD;
    border-radius: 20px;
    margin-left: 32%;
}
.btn-edi  {
    margin-top: 5rem;
    margin-left: 2rem;
}
.circle-img  {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    width: 10rem; 
    height: 10rem; 
    border-radius: 50%;
    object-fit: cover;
}
#img-user {
    width: 10rem; 
    height: 10rem; 
    border-radius: 50%;
    object-fit: cover; 
}
.user-profile  {
    margin-top: -1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#name  {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}
#creative  {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
#create  {
    margin-top: 2rem;
}
.info  {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.info h3  {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 600;
    margin-top: 2rem;
}
#email  {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}

.icons-profesional  {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.profesional-work  {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profesional-work input  {
    background: none;
    outline: none;
    border: none;
    width: 12rem;
    height: 20px;
    border-bottom: 1px solid #ffffff;             
    outline: none;   
    color: white;
    margin-bottom: 1rem;
}
#user input { 
    background: none;
    outline: none;
    border: none;
    width: 12rem;
    height: 20px;
    border-bottom: 1px solid #ffffff;             
    outline: none;   
    color: white;
}
input::placeholder  {
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}
.icon {
    position: absolute;
    bottom: 0;
    margin-top: 4rem;
    margin-left: 6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.icon input[type="file"] {
    display: none;
}

.icon label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.icon svg {
    fill: #ffffffe3;
    transition: fill 0.3s ease;
}

.icon:hover {
    background-color: #ffffffe3;
}

.icon:hover svg {
    fill: #ffffffe3;
}
#Works  {
    margin-bottom: 0;
    margin-top: 1rem;
}
#work-Inpt  {
    background: none;
    outline: none;
    border: none;
    width: 18rem;
    height: 20px;
    border-bottom: 1px solid #c9c9c9;             
    outline: none;   
    color: white;
}