*  { 
    margin: 0;
}
.containers {
    display: flex;
    position: relative;
    padding-top: 5rem;
}
.all{
    margin: 0;
    padding: 0;
    height: auto;
}
.container-modal {
    height: 100vh;
}

.container-postcards {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


.container-postcards::-webkit-scrollbar {
    display: none;
}

.container-barLaterals {
    width: 40%;
    position: sticky;
    top: 10rem; 
    height: 100vh;
    overflow-y: auto;
    transition: top 0.3s ease;
}

.bar-responsive  {
    display: none;
}
.addPost  {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #361656;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    justify-self: self-end;
    align-self: flex-end;
    z-index: 10000;
}
.addPost p  {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 55px;


}
.add-Post{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
}
@media (max-width: 768px)  {
     
  .containers {
    position: relative;
  }
   .container-postcards  {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
   }
   .container-barLaterals  {
    display: none;

   }
   .addPost  {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #361656;
    border-radius: 100%;
    cursor: pointer;
    position: fixed;
    bottom: 2rem; 
    right: 2rem;  
    z-index: 10000;
}

    .addPost p  {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 55px;


}



 
}

@media (max-width: 1110px)  {  
    .container-barLaterals  {
        left: 78%;
       }

}