

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin: 20px;
}

.cardWorker {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


#image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px; 
}

#img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
}
