component-container {
    width: 98%;
}

.container {
    display: grid; /* Usamos Grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: -60rem; /* Espaciado entre las imágenes */
    margin: 10px;
}

.cardWorker {
    justify-content: center;
    align-items: center;
    padding: 0px;
    display: flex;
    overflow: hidden;
}

#image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

#img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se adapten correctamente */
    border-radius: 8px;
}

